header{
    background-color: #00446B;
}
footer{
    background-color: #00446B;

}
.footer-columns{
    display: flex;
}
.footer-column{
flex: 50%;
margin: 20px;
}
main{
    padding: 10px;
    background-color: aliceblue;
}
.post{
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
}
.post img{
    margin: 20px;
}




